/*=====
Variables
=====*/
:root {
  // fonts
  // english font
  --english-font-family: 'DM Sans', sans-serif;

  // colors
  --main-color: #2b2b2b;
  --secondary-color: #327abf;
  --primary-color: #327abf;
  --dark-color: #2b2b2b;
  --white-color: #fff;
  --info-color: #327abf;
  --success-color: #38E25D;
  --success-bg: #D8FFE0;
  --warning-color: #FFAB2D;
  --warning-bg: #FFEBCC;
  --danger-color: #E83274;
  --sky-color: #E3ECFC;
}